.profile-card{


max-width:420px;

margin:30px auto;

background:white;

padding:30px;

border-radius:25px;

box-shadow:

0 15px 40px rgba(0,0,0,.12);

text-align:center;

}



.profile-avatar-box img{


width:130px;

height:130px;

border-radius:50%;

object-fit:cover;

border:

4px solid #ddd;

}



.profile-card input{


width:100%;

padding:12px;

margin:

8px 0 15px;

border-radius:14px;

border:

1px solid #ddd;

}



.profile-card label{


display:block;

text-align:left;

font-size:13px;

font-weight:bold;

}



.vip-badge{


margin:15px auto;

width:max-content;

padding:10px 20px;

border-radius:20px;


background:

linear-gradient(
145deg,
#fff4a8,
#d49b00
);


color:#8a5a00;


font-weight:900;


box-shadow:

0 5px 15px rgba(212,155,0,.35);

}
