body{

margin:0;

font-family:Arial, sans-serif;

background:#f0f2f5;

}



.top-menu{

background:#ffffff;

padding:15px;

display:flex;

justify-content:space-between;

align-items:center;

box-shadow:0 2px 10px #ccc;

}



nav button{


background:#ffd400;

border:none;

padding:10px 20px;

border-radius:15px;

cursor:pointer;

margin:5px;

}



#app{

padding:20px;

}



.error{

background:white;

padding:20px;

border-radius:15px;

color:red;

}
